<div *ngIf="loggedUser; else error" class="my-3 mx-3">
    <h3>Bem-vindo, <b>{{loggedUser.name}}</b></h3>
    <p>Para realizar alguma ação navegue pelas opções do menu.</p>
    <p>
        Suas informações: <br> 
        <b>Nome de usuário:</b> {{loggedUser.userName}} <br>
        <b>Papel:</b> {{loggedUser.role.name}}
    </p>
</div>
<ng-template class="my-3 mx-3" #error>
  <h4 class="text-danger">Ops...</h4>
  <p class="text-danger">
    :/ Ocorreu um erro. Tente atualizar a página.
  </p>
  <p>
    Caso o erro persista, entre em contato com o administrador.
  </p>
</ng-template>


