<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" routerLink="/home" routerLinkActive="active">Portifólios</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"
        (click)="isNavbarCollapsed = !isNavbarCollapsed">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div [ngbCollapse]="isNavbarCollapsed" class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="mr-auto navbar-nav">
            <li class="nav-item" *ngFor="let menuItem of menuItems">
                <a class="nav-link" routerLink="{{menuItem.path}}" routerLinkActive="active">
                    {{menuItem.title}}
                </a>
            </li>
        </ul>
        <form class="form-inline">
            <a class="btn btn-danger my-2 my-sm-0" role="button" href="/api/user/logout">Sair</a>
        </form>
    </div>
</nav>