<section class="ml-3 mr-3 my-3">
  <header>
    <h3>Adicionar usuário</h3>
  </header>

  <form>
    <div class="form-group">
      <label for="inputEmail">Email</label>
      <input
        type="email"
        class="form-control"
        id="inputEmail"
        aria-describedby="emailHelp"
        placeholder="Digite o email aqui"
      />
    </div>
    <div class="form-group">
      <label for="inputPassword">Senha</label>
      <input
        type="password"
        class="form-control"
        id="inputPassword"
        placeholder="Senha"
      />
    </div>
    <button type="submit" class="btn btn-primary">Criar</button>
  </form>
</section>
